doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/style.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Pridi:wght@300&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/3f396099dd.js' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
        title Doctrack | Prices

    body.body
        include nav
            .container
                .price-title
                    h14 Price Guide
                    hr
                    ul
                    .price-title
                        h14.paperproducts Plain Bond Paper
                    div(class='box-container')
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 Letter (Black and White)
                                h6 PHP3.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 Letter (Colored)
                                h6 PHP5.00

                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 Legal (Black and White)
                                h6 PHP3.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 Legal (Colored)
                                h6 PHP5.00
                        
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 A4 (Black and White)
                                h6 PHP3.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 A4 (Colored)
                                h6 PHP5.00

                        div(class='box')
                            div(class='image')
                                img(src='../img/a5.png')
                            div(class='p-content')
                                h5 A5 (Black and White)
                                h6 PHP3.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/a5.png')
                            div(class='p-content')
                                h5 A5 (Colored)
                                h6 PHP5.00
                        
                    .price-title
                        h14.paperproducts Glossy Paper
                    div(class='box-container')
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 A6 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 A6 (Colored)
                                h6 PHP12.00

                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 A5 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 A5 (Colored)
                                h6 PHP12.00
                        
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 Letter (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 Letter (Colored)
                                h6 PHP12.00

                        div(class='box')
                            div(class='image')
                                img(src='../img/a5.png')
                            div(class='p-content')
                                h5 A4 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/a5.png')
                            div(class='p-content')
                                h5 A4 (Colored)
                                h6 PHP12.00

                    .price-title
                        h14.paperproducts Laser Paper
                    div(class='box-container')
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 A3 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/Letter.png')
                            div(class='p-content')
                                h5 A3 (Colored)
                                h6 PHP12.00

                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 A4 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/legal.png')
                            div(class='p-content')
                                h5 A4 (Colored)
                                h6 PHP12.00
                        
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 A5 (Black and White)
                                h6 PHP7.00
                                
                        div(class='box')
                            div(class='image')
                                img(src='../img/a4.png')
                            div(class='p-content')
                                h5 A5 (Colored)
                                h6 PHP12.00

                        //- div(class='box')
                        //-     div(class='image')
                        //-         img(src='../img/a5.png')
                        //-     div(class='p-content')
                        //-         h5 A5 (Black and White)
                        //-         h6 PHP7.00
                                
                        //- div(class='box')
                        //-     div(class='image')
                        //-         img(src='../img/a5.png')
                        //-     div(class='p-content')
                        //-         h5 A5 (Colored)
                        //-         h6 PHP12.00
                //- div(class='box-container')
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/Letter.png')
                //-         div(class='p-content')
                //-             h5 Short Bond Paper (Black and White)
                //-             h6 PHP3.00
                            
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/Letter.png')
                //-         div(class='p-content')
                //-             h5 Short Bond Paper (Colored)
                //-             h6 PHP5.00

                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/legal.png')
                //-         div(class='p-content')
                //-             h5 Long Bond Paper (Black and White)
                //-             h6 PHP3.00
                            
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/legal.png')
                //-         div(class='p-content')
                //-             h5 Long Bond Paper (Colored)
                //-             h6 PHP5.00
                    
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/a4.png')
                //-         div(class='p-content')
                //-             h5 A4 (Black and White)
                //-             h6 PHP3.00
                            
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/a4.png')
                //-         div(class='p-content')
                //-             h5 A4 (Colored)
                //-             h6 PHP5.00

                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/a5.png')
                //-         div(class='p-content')
                //-             h5 A5 (Black and White)
                //-             h6 PHP3.00
                            
                //-     div(class='box')
                //-         div(class='image')
                //-             img(src='../img/a5.png')
                //-         div(class='p-content')
                //-             h5 A5 (Colored)
                //-             h6 PHP5.00

            .container
                .price-title
                    h14 Size Guide
                    hr
                    div(class='box-container')
                        div(class='image')
                            img.sizes(src='../img/sizes.png')
                        
        script
            include script.js

        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js')
        //- script(src='/js/login.js')
        script(src='/js/bundle.js')