doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Pridi:wght@300&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/3f396099dd.js' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
        title Doctrack | Terms and Conditions

    body
        .container
            div(class="tc_title")
                h9 Terms and Conditions
                hr
                li 
                h11 These terms and conditions set forth the general terms and conditions of your use of the DocTrack application and any of its related services. This Agreement is legally binding between user and the application operator. If you do not agree with the terms of this agreement, you may not access and use the application. By accessing and using the DocTrack application, you acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. 

                ul 
                h11 If you create an account on the DocTrack, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with it. Providing false contact information of any kind may result in the termination of your account. You must immediately notify us of any unauthorized uses of your account.
                    
                ul
                h11 You shall have sole responsibility for the integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of all submitted files. In no event shall we be held liable for any loss of any file. It is your sole responsibility to maintain appropriate backup of your files. 

                ul
                h11 We reserve the right to modify this agreement or its terms related to the application and services at any time at our discretion. When we do, we will send you an email to notify you. We may also provide notice to you in other ways at our discretion, such as through the contact information you have provided.

                ul
                h11 You acknowledge that you have read this agreement and agree to all its terms and conditions. By accessing and using the DocTrack application you agree to be bound by this agreement. If you do not agree to abide by the terms of this agreement, you are not authorized to access or use the application. 

                ul
                h11 If you have any questions, concerns, or complaints regarding this agreement, we encourage you to contact us using the details below:

                ul 
                h11 doctrack@gmail.com